@using InvoiceEntrySystem.Data.ViewModels;
@model NewInvoiceVM

@{
    ViewData["Title"] = "Create an Invoice";


}


<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Create an Invoice</h1>
        </p>


        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SupplierName" class="control-label"></label>
                                <input asp-for="SupplierName" class="form-control" />
                                <span asp-validation-for="SupplierName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateOrdered" class="control-label"></label>
                                <input asp-for="DateOrdered" type="date" class="form-control" />
                                <span asp-validation-for="DateOrdered" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateReceived" class="control-label"></label>
                                <input asp-for="DateReceived" type="date" class="form-control" />
                                <span asp-validation-for="DateReceived" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Paid" class="align-middle" style="width:20px;height:20px" />
                                <label asp-for="Paid" class="control-label"></label>
                                <span asp-validation-for="Paid" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="InvoiceNumber" class="control-label"></label>
                                <input asp-for="InvoiceNumber" class="form-control" />
                                <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LineItemsNumber" class="control-label"></label>
                                <input asp-for="LineItemsNumber" class="form-control" />
                                <span asp-validation-for="LineItemsNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Total" class="control-label"></label>
                                <input asp-for="Total" class="form-control" />
                                <span asp-validation-for="Total" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="DeleteMistake" class="align-middle" style="width:20px;height:20px" />
                                <label asp-for="DeleteMistake" class="control-label"></label>
                                <span asp-validation-for="DeleteMistake" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <label class="control-label">Item Description</label>
                            <div class="form-group">
                                <input asp-for="LineItems[0].ItemDescription" class="form-control" />
                                <span asp-validation-for="LineItems[0].ItemDescription" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Quantity</label>
                            <div class="form-group">
                                <input asp-for="LineItems[0].Quantity" class="form-control" />
                                <span asp-validation-for="LineItems[0].Quantity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Price</label>
                            <div class="form-group">
                                <input asp-for="LineItems[0].UnitPrice" class="form-control" />
                                <span asp-validation-for="LineItems[0].UnitPrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Subtotal</label>
                            <div class="form-group">
                                <input asp-for="LineItems[0].LineTotal" class="form-control" id="linetotal" />
                                <span asp-validation-for="LineItems[0].LineTotal" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label>+/-</label>
                            <div class="form-group">
                                <button type="button" class="btn btn-outline-secondary" id="addRow"><i class="bi bi-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div id="newRow"></div>

                    <div class="form-group">
                        <a class="btn btn-outline-secondary " asp-action="Index">Show All</a>
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                    </div>


                </form>

            </div>
        </div>

    </div>
</div>


@section Scripts{
        <script>
            i = 1;
            /*------------------------jQuery Code----------------------*/
            $("#addRow").click(function () {
                var html = '';
                html += '<div class="row" id="inputFormRow">';

                html += '<div class="col-md-4">';
                html += '   <div class="form-group">';
                html += '       <input class="form-control" type="text" data-val="true" data-val-length="Full Name must be up to 30 chars" data-val-length-max="30" data-val-required="ItemDescription is required" id="LineItems_' + i + '__ItemDescription" maxlength="30" name="LineItems[' + i + '].ItemDescription" value="">';
                html += '            <span class="text-danger field-validation-valid" data-valmsg-for="LineItems[' + i + '].ItemDescription" data-valmsg-replace="true"></span>';
                html += '</div>';
                html += '</div>';

                html += '<div class="col-md-2">';
                html += '   <div class="form-group">';
                html += '        <input class="form-control" type="number" data-val="true" data-val-required="Quantity is required" id="LineItems_' + i + '__Quantity" name="LineItems[' + i + '].Quantity" value="">';
                html += '        <span class="text-danger field-validation-valid" data-valmsg-for="LineItems[' + i + '].Quantity" data-valmsg-replace="true"></span>';
                html += '</div>';
                html += '</div>';

                html += '<div class="col-md-2">';
                html += '    <div class="form-group">';
                html += '        <input class="form-control" type="text" data-val="true" data-val-number="The field UnitPrice must be a number." data-val-required="Unit Price is required" id="LineItems_' + i + '__UnitPrice" name="LineItems[' + i + '].UnitPrice" value="">';
                html += '        <span class="text-danger field-validation-valid" data-valmsg-for="LineItems[' + i + '].UnitPrice" data-valmsg-replace="true"></span>';
                html += '   </div>';
                html += '</div>';

                html += '<div class="col-md-3">';
                html += '    <div class="form-group">';
                html += '        <input class="form-control" id="linetotal" type="text" data-val="true" data-val-number="The field LineTotal must be a number." data-val-required="The LineTotal field is required." name="LineItems[' + i + '].LineTotal" value="">';
                html += '        <span class="text-danger field-validation-valid" data-valmsg-for="LineItems[' + i + '].LineTotal" data-valmsg-replace="true"></span>';
                html += '   </div>';
                html += '</div>';

                html += '<div class="col-md-1">';
                html += '    <div class="form-group">';
                html += '       <button type="button" class="btn btn-outline-secondary float-right" id="removeRow"><i class="bi bi-dash"></i></button>';
                html += '   </div>';
                html += '</div>';


                html += '</div>';

                $('#newRow').append(html);
                i++;
            });

            $(document).on('click', '#removeRow', function () {
                $(this).parents('#inputFormRow').remove();
            });

        </script>
    }


